<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
<h1> Авторизация </h1>

<form method="post">
    <!-- next используется для возвращение в основном чтобы после авторизации вернуться на предыдущую страницу -->
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    <div class="form-error"> {{ form.non_field_errors }}</div>

    {% for f in form%}

    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label  }}</label> {{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>

    {% endfor %}

    <p><button type="submit">Войти</button></p>

    <p><a href="{% url 'users:password_reset' %}" >Забыли пароль?</a></p>

</form>

<hr>
<p>
<!-- вход черех соц сети -->
<a href="{% url 'social:begin' 'github' %}"><img src="/media/social-auth/github.png" alt="github" width="5%" height="5%"></a>
<a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="/media/social-auth/vk.png" alt="vk" width="5%" height="5%"></a>

</p>

{% endblock content %}
    




