__pycache__/
helpers/

.gitignore

manage.py

main.py


.idea
.vscode
.pylintrc

venv/
djvenv
djvenv_win
uploads/
djvenv_lin/*


django_help
get-pip.py

db.sqlite3
static
sitewomen/media/uploads_model/catwork_WM7Vcxe.gif
sitewomen/media/uploads_model/catwork.gif
helpers/views_with_defs.py
helpers/views_with_defs.py
.gitignore
