<!DOCTYPE html>

{%extends 'base.html'%}

{% block breadcrumbs %}
<!-- django автоматически передает коллекцию perms - разрешения, которыми обладает текущий пользователь (permission) -->
<!-- {{ perms }} -->

{% if perms.women.change_women %}
<p><a href="{% url 'edit_page' post.slug %}">Редактировать</a></p>
{% endif %}
    
<!-- Теги -->
<!-- post.tags.all - ORM команда (SQL) -->
{% with post.tags.all as tags %}

{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <!-- get_absolute_url метод экземпляра класса TagPost -->
    <!-- t.get_absolute_url возращает ссылку, t.tag - название тега -->
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor%}
</ul>
{% endif %}
{% endwith %}
{% endblock %}


{%block content%}

<h1>{{post.title}}</h1>

{%if post.photo%}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{%endif%}

{{post.content|linebreaks}}
{%endblock%}